<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css.css">

</head>
<body>
<div id="top">
    <img src="menu.svg" id="menu" alt="">
    
<div id="topp">

    <h1 id="about">about</h1>


    <div id="box">
        
        <p class="text">Pharetra magna ac placerat vestibulum lectus mauris ultrices. Ut pharetra sit amet aliquam id diam maecenas ultricies mi. Sollicitudin ac orci phasellus egestas tellus rutrum. Venenatis cras sed felis eget. Amet risus nullam eget felis ege nunc. Lacus vestibulum sed arcu non odio euismod. Consectetur adipiscing elit duis tristique.</p>
    </div>

</div>
   
</div>
<div id="center">
    <span id="lorem1">
        <span id="l">L</span> orem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat, saepe vitae soluta velit voluptatibus fugit asperiores nisi perspiciatis illum error suscipit incidunt impedit! Rem, aperiam veritatis recusandae et quam quasi!

    </span>
    <br>
    <div id="melt">
        
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi, nostrum at maxime velit enim magnam dolorem aliquid accusamus fugit dolore rem nihil repellendus, odio placeat excepturi, expedita culpa illo voluptates?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, asperiores, doloribus eos maiores modi quasi nostrum enim doloremque distinctio explicabo animi excepturi. Vero repellendus nisi quidem illo tempora, dicta nobis?

    </div>
 </div>
 <div class="images">
    <img class="each" src="images/gallery-1.jpeg" alt="woman touching her face">
    <img class="each" src="images/gallery-2.jpeg" alt="woman looking dope">
    <img class="each" src="images/gallery-3.jpeg" alt="the pose of a champion and a dominator">
     </div>
<div class="images">
    <img class="each" src="images/gallery-4.jpeg" alt="font pose">
    <img class="each" src="images/gallery-5.jpeg" alt="backwards pose">
    <img class="each" src="images/gallery-6.jpeg" alt="sideways pose">
    
</div>
<div id="middle">
    <h1 id="coming">coming soon</h1>
    <p id="construction">
        Our website is under construction, follow us for update now!
    </p>
    <form id="form" action="">
        <input class="input" type="text" placeholder="Name" name="name" id="">
        <input class="input" placeholder="Enter a valid email address" type="email" name="email" id="">
        <input type="submit" value="Get Updates" name="" id="submit">
    </form>
</div>
<div id="bio">
    <img id="myimage" src="images/article-img.jpeg" alt="a woman">
    <div id="another">
        <p class="text" id="mybio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae nulla ex minus quidem quo officia, ducimus veritatis, maiores, deserunt sed architecto corporis perspiciatis porro exercitationem. Excepturi doloremque earum velit aut? Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit unde dolores nemo tempore blanditiis est, maxime ratione similique rem velit quasi veniam, suscipit, possimus porro nulla? Architecto labore eius consectetur! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi assumenda in natus aperiam, aliquid sapiente voluptate, consectetur ipsa nulla optio sed, unde rem minima autem? Consequuntur repellendus expedita fugiat libero!
        </p>
        <p id="signature">Its a signature you like</p>
    
    </div>
</div>

<style>
    @import url('http://fonts.cdnfonts.com/css/brittany-signature');
</style>
<div id="bottom_section">
<p id="spring">
    spring collection

</p>
<div id="image_section"> 
    <img src="images/slide-1.jpg" alt="shirt" class="newimage">
    <img src="images/slide-2.jpg" alt="glasses" class="newimage">
    <img src="images/slide-3.jpg" alt="bag" class="newimage">
    <img src="images/slide-4.jpg" alt="shoe" class="newimage">

</div>
    <div>
        <img id="arrow" src="arrow-right.svg" alt="">
    </div>

</div>
<div id="mydata">
    <div id="myimage">
        <img src="images/product-1.jpg" class="shoes" alt="top shoe">
        <img src="images/product-2.jpg" class="shoes" alt="top shoe">

    </div>
    <div id="samp">
        <h2 style="padding-bottom: 30px; font-weight: lighter;">Sample Product</h2>
        <p style="padding-bottom: 15px;"><b>$9.95</b></p>
        <p style="font-size: 14px;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. sequi perspiciatis blanditiis numquam!</p>
        <button>ADD TO CART</button>
    </div>
</div>

<div id="bottom">
    <div id="subscribe">
        <img id="sub" src="images/subscribe.jpeg" alt="woman">
        <div id="side">
            <hr id="hr">
            <b>
                <i>
            <p style="justify-items: center; font-size: 60px; ">subscribe</p>

                </i>
            </b>

            <form action="" id="other">
                <input type="email" placeholder="Enter a valid email address" name="" class="boxes" id="">
                <input type="text" placeholder="Enter Your Name" name="" class="boxes" id=""> <br>
                <input type="submit" name="" value="SUBMIT" id="submitted">
            </form>
            <p style="padding-left: 130px; padding-right:150px; text-align: center; font-size: 14px;">Sample Text Lorem ipsum dolor, Aliquam adipisci tenetur recusandae totam odit, exercitationem tempore veritatis saepe sit</p>

            <div id="social">
                <img src="facebook.svg" alt="">
                <img src="twitter.svg" alt="">
                <img src="instagram.svg" alt="">
            </div>
        </div>
    </div>
</div>

</body>
</html>
